.box {
    display: flex;
    flex-direction: column;
    width: 600px;
    height: 650px;
}

.container {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.tabs {
    display: flex;
}

.cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 24px;
    justify-content: space-around;
    padding: 0;
    text-align: center;
}

.scroll::-webkit-scrollbar {
	width: 8px;
}
.scroll::-webkit-scrollbar-track {
	background: #2F2F37;
}
.scroll::-webkit-scrollbar-thumb {
	background: #8585AD;
}

.link {
    text-decoration: none;
    color: #fff;
}